@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 1440px;
  margin: 0 auto;
  min-height: 4938px;
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1440px;
  height: 4938px;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

