/* グローバルスタイルの設定 */
* {
    box-sizing: border-box; /* ボックスモデルを統一 */
    margin: 0;
    padding: 0;
}

:root {
    --max-width: 1440px;
    --scale-ratio: calc(100vw / var(--max-width));
}

body {
    font-family: 'Noto Sans JP', sans-serif; /* フォントファミリーを設定 */
    color: var(--gray, #626262); /* デフォルトのテキストカラー */
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

/* 最大幅の設定 */
.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    transform-origin: top left;
}

@media (max-width: 1440px) {
    .container {
        transform: scale(var(--scale-ratio));
        width: calc(100% * (1 / var(--scale-ratio)));
        height: auto;
    }
}

/* コンテンツのスケーリングを維持するための共通クラス */
.scale-content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1440px) {
    .scale-content {
        transform: scale(var(--scale-ratio));
        transform-origin: top left;
        width: calc(100% * (1 / var(--scale-ratio)));
    }
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

/* タブレット用のスタイル */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 20px;
    }
}

/* デスクトップ用のスタイル */
@media (min-width: 1025px) {
    .container {
        width: 70%;
        padding: 30px;
    }
}

/* 共通のテキストスタイル */
.atext1, .atext2, .atext3, .atext4 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.4px;
    color: var(--gray, #626262);
    white-space: nowrap; /* テキストを1行に収める */
    overflow: hidden; /* はみ出した部分を隠す */
    text-overflow: ellipsis; /* 必要に応じて省略記号を表示 */
}

/* その他の共通スタイルを追加 */

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
